@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "thunder";
    font-display: swap;
    src: url("/fonts/Thunder/Thunder-LC.otf") format("opentype");
  }

  @font-face {
    font-family: "thunder-bold";
    font-display: swap;
    src: url("/fonts/Thunder/Thunder-BoldHC.otf") format("opentype");
  }

  @font-face {
    font-family: "thunder-light";
    font-display: swap;
    src: url("/fonts/Thunder/Thunder-LightHC.otf") format("opentype");
  }

  @font-face {
    font-family: "thunder-medium";
    font-display: swap;
    src: url("/fonts/Thunder/Thunder-MediumLC.otf") format("opentype");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

.vignette {
  position: relative;
  display: inline-block;
}

.vignette > img {
  display: block;
}

.vignette::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);
}
